$fontFamilyRobotoMain: 'Roboto', sans-serif
$fontSizeMain: 1.7vw

html
	// height: 100%

body
	margin: 0 auto
	// min-width: 700px
	max-width: 1200px
	width: 100%
	height: 100%
	font-family: $fontFamilyRobotoMain
	font-size: $fontSizeMain


/* HEADER SECTION*/
header
	width: 100%
	height: 240px
	background: lightblue url("../img/cloud1.png") no-repeat center top


/*START PAGE - kinda*/
#start-page
	background-color: white
	margin: 0 auto
	width: 90%
	min-height: 60%
	// min-width: 700px
	position: absolute
	top: 30%
	left: 50%
	transform: translate(-50%, 0)
	border-radius: 15px
	box-shadow: 5px 5px 10px grey, -5px -5px 10px grey
	padding: 1vw

#start-page-container
	width: 100%
	height: 100%
	*
		display: flex
		align-items: center
	i
		font-size: 1.5vw
		align-self: center	
	p
		width: 80%
		margin: 1vw auto
		text-align: justify
	p:nth-child(1)
		margin-top: 3vw
		font-weight: bold
		font-size: 3vw
		padding-left: 8vw

#startButton
	margin: 5% auto 2vw
	height: 3vw
	font-size: 2vw

/* MAIN SECTION*/
#headline
	width: 80%
	margin: 0 auto 1vw
	display: flex
	h1
		width: 80%
		margin: 0
		padding: 0
		
#select
	width: 20%
	border: 1px solid black
	border-radius: 10px
	text-align: center
	font-size: $fontSizeMain
	font-weight: bold
	padding-left: .5vw
	background: white

#counters
	width: 80%
	margin: 0 auto
	align-self: flex-start
	span
		font-weight: bold

main
	width: 100%

	background-color: lightpink
	display: flex
	flex-flow: column
	padding: 3vw 0

#newTask
	width: 80%
	margin: 0 auto 8vw
	display: flex

#input
	width: 80%
	height: 3rem
	border: 1px solid black
	border-right: none
	border-radius: 10px 0 0 10px 
	padding-left: 1vw
	font-size: $fontSizeMain

#addTask
	width: 20%
	background-color: lightblue
	border: 1px solid black
	border-radius: 10px
	font-weight: bold
	font-size: $fontSizeMain

#tasks
	width: 80%
	min-height: 60vw
	margin: 1vw auto

	box-sizing: content-box

.list
	width: 99%
	display: flex
	align-items: center
	padding: .5vw 0
	margin-bottom: 1vw
	border-radius: 5px
	border: .3vw solid black
	p
		width: 90%
		margin: 0 1vw
		align-self: center
		font-size: $fontSizeMain

.fasButton
	margin-right: .5vw

.fas
	font-size: 3vw

.done
	background-color: lightgrey	

.open
	background-color: #6699ff
	font-weight: bold

.doneButton
	color: green

.removeButton
	color: red
